.page-boards .primary{
    width: 756px;
}

.page-boards .aside{
    width: 210px;
    margin-left: 42px;
}

.page-boards .primary{
    margin: -95px -19px 0 -19px;
    padding: 0 19px;
    background-image: url('../img/boardshadow.png');
    background-repeat: no-repeat;
}

.page-boards .primary-inner{
    background: #fff;
    border: 1px solid #f0f0f0;
    border-top: 4px solid #68b38c;
}

.layout-single .primary{
    margin-left: 84px;
    width: 840px;
    margin-top: -240px;
}    

/* mod board header */

.mod-board-header{
    background-position: center 0;
    height: 365px;
    width: 100%;
    z-index: -1;
}
    
.mod-board-header .title{
    height: 365px;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0,0,0,.2);
}

.mod-board-header h2{
    margin-top: 145px;
    margin-bottom: 20px;
    color: #f0f0f0;
    color: rgba(255, 255, 255, .8);
    font-size: 30px;
    line-height: 30px;
    vertical-align: bottom;
    text-shadow: 0 0 1px #aaa;
}

.mod-board-header small{
    color: rgba(255, 255, 255, .5);
    font-size: 20px;
}

/* mod board postlist */

.mod-board-postlist .header{
    line-height: 30px;
    margin: 30px 42px 15px;
}    

.mod-board-postlist .topic{
    position: relative;
}

.mod-board-postlist .avatar{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 42px;
}

.mod-board-postlist .col-main{
    margin-left: 102px;
}
    
.mod-board-postlist .r1{
    margin-top: 15px;
    line-height: 40px;
}

.mod-board-postlist .r2{
    line-height: 30px;
    margin-bottom: 15px;
}

.mod-board-postlist .time{
    right: 40px;
}

.mod-board-postlist hr{
    background-image: url("../img/hr756.png");
    background-color: transparent;
}

.mod-board-postlist .board-pager{
    margin: 30px 42px;
}

/* mod board info */

.mod-board-info{
    margin: 20px 0 30px 0;
}

.mod-board-info img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.mod-board-info .col-main{
    margin-left: 80px;
}

.mod-board-info .boarddesc{
    font-size: 18px;
    margin-top: 10px;
    line-height: 20px;
    margin-bottom: 15px;
}

.mod-board-info .bm{
    line-height: 30px;
}

/* mod board note */

.widgets .mod-board-note{
    margin-bottom: 40px;
    line-height: 20px;
}

/* mod board star-it */

.mod-board-starit .btns{
    margin: 15px 0;
    line-height: 30px;
    text-align: center;
}

.mod-board-starit .text1{
    line-height: 20px;
    margin-bottom: 30px;
    text-align: center;
}

/* mod board ann */

.mod-board-ann{
    background: #eaf5ea;
    font-size: 13px;
    padding: 20px 0;
    line-height: 40px;
    text-align: center;
    margin-bottom: 35px;
}

.mod-board-ann em{
    font-size: 18px;
}
    
.mod-board-ann a{
    color: #61af75;
}

/* hr */

.page-boards .aside hr{
    background-image: url("../img/hr210.png");
    background-color: transparent;
    margin: 30px 0;
}    
    
/* mod newpost */

.mod-newpost .mod-title h3{
    margin-top: 20px;
    line-height: 15px;
    margin-bottom: 15px;
}

.mod-newpost .mod-title{
    margin-bottom: 35px;
    margin-left: 20px;
    margin-right: 20px;
}

.mod-newpost .input-title{
    margin: 0 82px 30px;
    border-left: 4px solid #9fdca0;
    line-height: 40px;
}

.mod-newpost .input-title .title{
    margin-bottom: 20px;
    border: 0;
    box-shadow: none;
    outline: none;
    margin-left: 1em;
}

.mod-newpost .input-content{
    margin: 30px 82px 0;
}

.mod-newpost .editarea{
    min-height: 420px;
    margin: 0 1em;
    box-shadow: none;
    border: none;
    padding: 0;
}
    
.mod-newpost .footer{
    margin: 25px 82px 35px;
    line-height: 30px;
}

.mod-board-ad img{
    width: 100%;
}

/*============ page section ============ */

.mod-sections-tabs .list1{
    padding: 0 20px;
    margin-top: 5px;
    margin-right: -60px;
}

.mod-sections-tabs .list1 li{
    margin-bottom: 35px;
    line-height: 15px;
    width: 125px;
}

.mod-sections-tabs .header{
    margin: 15px 20px;
    line-height: 15px;
}

.mod-sections-tabs hr{
    margin-bottom: 35px;
}

.mod-sections-tabs .col1{
    margin-left: 20px;
    width: 45px;
    min-height: 1px;
    content: "";
}

.mod-sections-tabs .board{
    margin-bottom: 60px;
}

.mod-sections-tabs .board img{
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.mod-sections-tabs .board .col2{
    width: 160px;
    margin-right: 35px;
    text-align: right;
}
    
.mod-sections-tabs .boarddesc{
    line-height: 15px;
    margin-bottom: 15px;
    margin-top: 5px;

}

.mod-sections-tabs .boardname{
    line-height: 10px;
}

.mod-sections-tabs .col3{
    border-left: 2px solid #9fdca0;
}
    
.mod-sections-tabs .outer{
    display: table;
}

.mod-sections-tabs .inner{
    display: table-cell;
    line-height: 20px;
    width: 420px;
    padding-left: 20px;
    height: 45px;
    vertical-align: middle;
}

.mod-sections-tabs .tab{
    display: none;
}

.mod-sections-tabs .open{
    display: block;
}

.mod-sections-fav .list1 li{
    margin: 35px 0 40px;
    line-height: 15px;
}

.mod-sections-fav a{
    color: #666;
}
    
.aside .mod-sections-fav  .fav-hr{
    margin-top: 50px;
    margin-bottom: 35px;
}