.page-index .primary{
    width: 714px;
    margin-top: 40px;
}

.page-index .aside{
    width: 210px;
    margin-top: 40px;
    margin-left: 84px;
}

.page-index .primary hr{
    background: transparent url('../img/hr714.png') no-repeat bottom;
}

.page-index .aside hr{
    background: transparent url("../img/hr210.png") no-repeat bottom;
    margin: 15px 0;
}    
    
.page-index .primary,
.page-index .aside{
    margin-top: 40px;
}

/* mod fresh pageheader */

.mod-fresh-pageheader{
    max-height: 250px;
    overflow: hidden;
    margin-bottom: 40px;
}

.mod-fresh-pageheader img{
    width: 714px;
}

.mod-fresh-pageheader a{
    display: block;
}    

.mod-fresh-pageheader span{
    bottom: 0;
    right: 10px;
    color: #ccc;
    line-height: 40px;
    text-shadow: 0 0 2px #333;
}

/* mod fresh goods */

.mod-fresh-goods{
    margin-bottom: 50px;
}

.mod-fresh-goods .list1{
    margin: 0 42px;
}

.mod-fresh-goods li{
    width: 84px;
}

.mod-fresh-goods .list a{
    color: #666;
    display: inline-block;
    line-height: 40px;
}

.mod-fresh-goods .more{
    float: right;
    color: #78d0b5;
    line-height: 30px;
    margin-bottom: 20px;
}

/* mod fresh freshlist */

.mod-fresh-freshlist .col-left{
    width: 84px;
    text-align: right;
    font-size: 14px;
    display: inline-block;
}

.mod-fresh-freshlist .fresh{
    position: relative;
}

.mod-fresh-freshlist .posts{
    margin-left: 126px;
}

.mod-fresh-freshlist hr{
    background: transparent url("../img/hr594.png") no-repeat bottom;
    margin: 15px 0;
}    

.mod-fresh-freshlist .post{
    position: relative;
    margin: 15px 0;
    line-height: 20px;
}

.mod-fresh-freshlist .time{
    margin-right: 10px;
    float: right;
}

.mod-fresh-freshlist .more{
    text-align: center;
    background: transparent url("../img/hr594.png") no-repeat center;
    line-height: 1px;
    margin: 25px 0;
}

.mod-fresh-freshlist .more a{
    color: #89b5de;
    font-size: 12px;
    background: #fff;
    padding: 0 20px;
}

.mod-fresh-freshlist .loadmore{
    text-align: center;
    line-height: 40px;
    color: #9fdca0;
    border: 1px solid #9fdca0;
    display: block;
    margin-top: 25px;;
    margin-bottom: 65px;
}

.mod-fresh-freshlist .posts-more{
    display: none;
}

.fresh .open .posts-more{
    display: block;
}

/* mod fresh self */

.mod-fresh-self{
    margin-bottom: 40px;
}

.mod-fresh-self .avatar{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.mod-fresh-self .col-main{
    margin-left: 75px;
}

.mod-fresh-self .userid{
    line-height: 30px;
    font-size: 18px;
}    

.mod-fresh-self .score{
    font-size: 12px;
    line-height: 25px;
}

.mod-fresh-self .detail{
    margin-top: 20px;
}

.mod-fresh-self .detail span{
    font-size: 12px;
    width: 60px;
    display: inline-block;
    line-height: 10px;
    border-right: 1px solid #ccc;
    margin-right: 8px;
    text-align: center;
}    

.mod-fresh-self .detail em{
    margin: 0 8px;
}

.mod-fresh-self .detail .last{
    border-right: 0;
    margin-right: -2px;
}

/* mod fresh topten */

.page-index .mod-fresh-topten hr{
    margin-top: 5px;
    margin-bottom: 50px;
}