body{
    color: #666;
    font-size: 14px;
}

.container{
    width: 1008px;
    margin: 0 auto;
}

/* page */

.layout-simple{
    margin-top: 40px;
}

.layout-simple .primary{
    width: 714px;
    margin-right: 42px;
}

.layout-simple .aside{
    width: 210px;
}

.layout-simple .primary hr{
    background: transparent url('../img/hr714.png') no-repeat bottom;
}

.layout-simple .aside hr{
    background: transparent url("../img/hr210.png") no-repeat bottom;
    margin: 30px 0;
}

/* row and col */

.row:before, .row:after{
    display: table;
    content: "";
}

.row:after{
    clear: both;
}

.row{
    zoom: 1;
}

.primary, .aside, .col1, .col2, .col3{
    float: left;
}

.col1, .col2, .col3{
    float: left;
}

.col1r, col2r{
    float: right;
}

.col-left{
    position: absolute;
    top: 0;
    left: 0;
}

.col-right{
    position: absolute;
    top: 0;
    right: 0;
}

.col-main{
    margin-left: 40px;
}

/* mod base */

.mod{
    position: relative;
}


.title-mod .mod-title h3{
    margin: 10px 0;
    line-height: 15px;
}

.title-mod .mod-title{
    margin-bottom: 25px;
    text-align: center;
    border-bottom: 1px solid #9fdca0;    
}

.custom{
    position: absolute;
}

/* form */

input{
    color: #333;
}

/* inline */

a.text, .text a, em.text{
    color: #465555;
}

a.text-alt, .text-alt, .text{
    color: #c5d4d4;    
}

a.text-iter, .text-iter{
    color: #78d0b5;
}

a.text-iter2, .text-iter2{
    color: #89b5de;
}

.text-normal{
    font-size: 14px;
}

.text-small{
    font-size: 13px;
}

.text-strong{
    font-size: 16px;
}

/* list */

.inline-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

.inline-list li{
    float: left;
    margin-right: 20px;
}

.inline-list li a{
    display: block;
    float: left;
}

.inline-list.right{
    float: right;
    /* margin-right: -20px;; */
}

.topic-list{
    display: table;
    width: 100%;
}

.topic-list .outer{
    display: table;
    margin-bottom: 25px;
}

.topic-list .inner{
    display: table-cell;
    line-height: 18px;
    height: 35px;
    vertical-align: middle;
}

.topic-list .avatar{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 1em;
}

.topic-list a{
    max-height: 35px;
    overflow: hidden;
    word-break: break-all;
}

/* dropdown */

.dropdown ul{
    display: hidden;
    list-style-type: none;
}

/* btn */

.btn{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #9fdca0;
    font-size: 13px;
    border-radius: 15px;
    padding: 4px 18px;
    line-height: 20px;
    cursor: pointer;
}

.btn:hover{
    text-decoration:none;
}

.btn-reverse{
    border: 1px solid transparent;
    background-color: #9fdca0;
    background-color: rgba(159, 220, 160, .8);
    color: #fff;
}

/* tabs */

.tabs{
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tabs li{
    float: left;
    margin-right: 15px;
}

.tabs a{
    font-size: 16px;
    color: #c5d4d4;
    display: block;
    float: left;
    padding-top: 2px;
}

.tabs .active, .tabs a:hover{
    color: #78d0b5;
    text-decoration: none;
}

.tabs .active{
    cursor: default;
}

.tabs .sep{
    border-right : 1px solid #c5d4d4;
    height: 12px;
    margin-top: 9px;
}

/* .col-left .avatar{ */
/*     width: 40px; */
/*     height: 40px; */
/*     border-radius: 50%; */
/*     margin-left: 40px; */
/*     margin-top: 5px; */
/* } */

/* .icon-ci0{ */
/*     display: inline-block; */
/*     font-size: 16px; */
/*     content: ""; */
/*     width: 10px; */
/*     height: 10px; */
/*     margin-right: 6px; */
/*     border: 1px solid #ccc; */
/*     border-radius: 100%; */
/*     vertical-align: middle; */
/* } */
    
/* .widgets .mod{ */
/*     margin: 20px 0; */
/* } */

/* .mod-title{ */
/*     text-align: center; */
/*     font-size: 16px; */
/*     color: #36444; */
/*     border-bottom: 1px solid #9fdca0; */
/*     margin-bottom : 10px; */
/*     line-height: 45px; */
/* } */

/* /\* mod link0 *\/ */

.misc-list{
    text-align: center;
}

.misc-list a{
    line-height: 15px;
    display: block;
    padding-top: 25px;
    padding-bottom: 10px;
    background: url('../img/hr210.png') no-repeat bottom;
}

/* editor */

.editarea{
    line-height: 25px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 7px 1em 6px;
    outline: none;
    box-shadow: 0 1px 2px rgba(100,100,100,.1) inset;
    background: #fff;
}

.editarea:empty:not(:focus):before{
    content:attr(data-placeholder);
    color: #ccc;
}

/* .editor-inline{ */
/*     background: #fcfcfc; */
/*     padding: 1em; */
/*     max-width: 560px; */
/* } */

/* .editor-inline .btn{ */
/*     float: right; */
/*     margin: 10px; */
/* }     */

/* .editor-inline:after{ */
/*     display: table; */
/*     content: ""; */
/*     clear: both; */
/* } */

/* .editarea{ */
/*     font-size: 14px; */
/*     background: #fff; */
/*     padding: 10px; */
/*     line-height: 22px; */
/*     min-height: 22px; */
/*     white-space: pre-wrap; */
/*     cursor: text; */
/*     border: #f4f4f4; */
/*     border-radius: 3px; */
/*     box-shadow: 0 0 5px rgba(0,0,0,.2) inset; */
/*     background-color: #fff; */
/*     outline: 0; */
/* } */

/* table */

.full-table{
    width: 100%;
}

.full-table th{
    font-weight: bold;
}

.empty{
    display: none;
}
