.topbar{
    position: relative;
    width: 100%;
    background: #3bbe8b;
    box-shadow: 0 0 3px #555;
}

.brand{
    color: #bbe8d7;
    display: block;
    float: left;
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
}

.topbar .search{
    float: left;
    margin-top : 10px;
    margin-left: 20px;
}

.topbar .search input{
    border: 1px solid #ccc;
    outline: none;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 50px;
    background: #f4f4f4;
    color: #444;
}

.topbar .links{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topbar .links > li{
    float: left;
}

.topbar .links > li > a{
    display: block;
    float: left;
    color: #bbe8d7;
    line-height: 1;
    padding: 18px 15px 16px;
    text-decoration: none;
}

.topbar .links > li > a:hover{
    color: #fff;
}
    
.topbar .dropdown ul{
    display: hidden;
    list-style-type: none;
}
