<div class="topbar">
  <div class="container">
    {% if user %}
    <div class="left">
      通知(<span class="notification{% if user.num_n %} hasnew{% endif %}">
        {{-user.num_n|default(0)-}}</span>) <span class="gap"> </span>
      站内信(<span class="mail{% if user.num_mail %} hasnew{% endif %}">
        {{-user.num_mail|default(0)-}}</span>) <span class="seq"></span>
      <a href="{{url_for('user', userid=user.userid)}}"
         title="到 {{user.userid}} 的个人首页" class="topbar-userid">
        {{user.userid}}</a> , 此刻我们在此相聚
    </div>
    <div class="right">
      <ul class="linklist">
        <li><a href="{{url_for('fresh')}}" title="首页">首页</a></li>
        <li><a href="{{url_for('fresh')}}" title="精华区">精华区</a></li>
        <li><a href="{{url_for('fresh')}}" title="设置">设置</a></li>
        <li><a href="{{url_for('fresh')}}" title="中大首页">中大首页</a></li>
      </ul>
    </div>
    {% endif %}
  </div>
</div>
