{% extends "solo.html" %}

{% block bodycls %} page-index{% endblock %}


{% block header %}
  <script id="seajsnode" src="{{url_for('static', filename='js/seajs/sea.js')}}"></script>
  <script src="{{url_for('static', filename='js/herzog.config.js')}}"></script>
{% endblock %}

{% block tail %}
  <script>
   seajs.use("page/home");
  </script>
{% endblock %}

{% block container %}

  <div class="container row">

    <div class="primary">
      
      {% if img %}
        <div class="mod mod-fresh-pageheader">
          <a href="{{img.href}}" title="{{img.text}}">
            <img src="{{ img.src }}" title="{{ img.text }}" />
            <span class="custom">{{img.text}}</span>
          </a>
        </div>
      {% endif %}
      
      <div class="mod title-mod mod-fresh-goods">
        <div class="mod-title">
          <h3>在这里我可以干点啥？</h3>
        </div>
        <div class="row">
          <ul class="inline-list list1">
            {% for g in goods %}
              <li><a href="url_for('board', boardname=g[1])" title="到 g[1] 版">{{g[0]}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="row">
          <a class="more" href="#" title="查看全部看版">> 更多有意思的...</a>
        </div>
        <hr/>
      </div>

      <div class="mod title-mod mod-fresh-freshlist">
        <div class="mod-title">
          <h3>阅读新鲜话题</h3>
        </div>
        {% for bs in fresh %}
          <div class="fresh">
            <div class="col-left">
              <a href="{{url_for('board', boardname=bs.boardname)}}" title="到 {{bs.boarddesc}}({{bs.boardname}}) 版" class="boardname text">{{bs.boarddesc}}</a>
            </div>
            <div class="col-main posts">
              {% for p in bs.posts %}
                {% if loop.index == 4 %}
                  <div class="more"><a href="javascript:;" data-do="more">查看被折叠的话题</a></div>
                  <div class="posts-more">
                {% endif %}
                <div class="post">
                  <span></span>
                  <a class="title text" href="{{url_for('topic', tid=p.tid)}}" title="{{p.title}}">{{p.title}}</a>
                  <span class="col-right text-alt time">{{p.lastupdate|nicetime}}</span>
                </div>
              {% endfor %}
              <hr/>
              {% if bs.posts|length > 3 %}
                  </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
        {% if score >= 0 %}
          <a href="javascript:;" data-do="loadmore" data-cursor="{{score}}" class="loadmore">查看较老的话题</a>
        {% endif %}
      </div>
    </div>

    <div class="aside">

      <div class="widgets">

        {% if getuserid() %}

        <div class="mod mod-fresh-self">
          <div class="col-left">
            <img class="avatar" src="{{url_for_avatar(authed())}}" title="{{authed()}}"/>
          </div>
          <div class="col-main">
            <a class="userid text" href=""{{url_for('user', userid=authed())}}" title="{{authed()}}">{{authed()}}</a><br/>
            <span class="score text-alt">贡献值： <em class="text">233</em> </span>
          </div>
          <hr/>    
        </div>

        {% endif %}

        <div class="mod title-mod mod-fresh-topten">
          <div class="mod-title">
            <h3>看看今日十大...</h3>
          </div>
          <div class="topic-list">
            {% for p in topten %}
              <div class="outer">
                <div class="inner">
                  <img class="avatar" src="{{url_for_avatar(p.owner)}}" title="{{p.title}}"/>
                  <a class="text text-small" href="{{url_for('topic', tid=p.tid)}}" title="{{p.title}}">{{p.title}}</a>
                </div>
              </div>
            {% endfor %}
          </div>
          <hr/>
        </div>

        {% if ad %}
          <div class="mod mod-fresh-ad">
            <a href="{{ad.href}}"><img src="{{ad.src}}" /></a>
          </div>
        {% endif %}

        <div class="mod">
          <ul class="misc-list">
            <li><a title="求助" href="#">我要求助</a></li>
            <li><a title="投诉" href="#">我要投诉</a></li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>

{% endblock %}
