<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{{config.SITE_NAME}}{% endblock %}</title>
    <link href="{{url_for('static', filename='css/reset.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='css/herzog.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='css/topbar.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='css/footer.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='css/board.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='css/fresh.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='css/topic.css')}}" rel="stylesheet" />
    {% block header %}{% endblock %}
  </head>
  <body class="{% block bodycls %}{% endblock %}">
    {% include "include/topbar.html" %}
    {% block container %}{% endblock %}
    {% include "include/footer.html" %}
    {% block tail %}{% endblock %}
  </body>
</html>
