{% extends "solo.html" %}

{% block title %} 我的通知 - {{site.SITENAME}} {% endblock %}

{% block container %}
  <div class="container layout-simple row">
    <div class="primary">
      <div class="mod mod-notification">
        <div class="header row">
            <ul class="inline-list">
              <li><a class="text-alt" href="{{url_for('notification')}}">我的通知</a></li>
              <li><span class="text-iter">我关注的</span></li>
            </ul>
        </div>
      </div>
      <ul class="list1">
        {% for n in starpost %}
        <li>
          你关注的贴子 <a href="{{url_for('topic', tid=n.tid)}}" title="{{n.title}}">{{n.title}}</a> 有了更新
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="aside">
    </div>
  </div>
{% endblock %}
