{% extends "solo.html" %}

{% block title %} {{topic.title}} - {{config.SITE_NAME}} {% endblock %}

{% block bodycls %} page-topic{% endblock %}

{% block header %}
  <script id="seajsnode" src="{{url_for('static', filename='js/seajs/sea.js')}}"></script>
  <script src="{{url_for('static', filename='js/herzog.config.js')}}"></script>
{% endblock %}

{% block tail %}
  <script>
   seajs.use("page/topic");
  </script>
{% endblock %}

{% block container %}

  <div class="container">
    <div class="primary">
      <div class="mod-topic-lz">
        <div class="col-left">
          <img class="avatar" title="{{topic.owner}}"
               src="{{url_for_avatar(topic.owner)}}"/>
        </div>
        <div class="col-main">
          <div class="header">
            <h3>{{-topic.title-}}</h3>
            <div class="username">
              <a class="owner text-iter" href="{{topic.owner}}"
                 title="点击到 {{topic.owner}} 的个人资料页面">
                {{-topic.owner-}}
              </a>
              <span class="time text-alt">{{topic.lastupdate}}</span>
            </div>
          </div>
          <div class="typo">
            {{topic.content|postHtml|safe}}
          </div>
          <div class="row">
            <ul class="list">
              <li><a href="#">{{topic.replynum}}</a></li>
              <li><a href="#">关注</a></li>
              <li><a href="#">分享</a></li>
            </ul>
          </div>
        </div>
      </div>

      {% if replys %}
        {% for r in replys %}
          <div class="mod-topic-reply">
            <div class="col-left">
              <img class="avatar" title="{{r.owner}}"
                   src="{{url_for_avatar(r.owner)}}" />
            </div>
            <div class="col-main">
              <div>
                <a class="owner text-iter" href="{{r.owner}}"
                   title="点击到 {{r.owner}} 的个人资料页面">
                  {{-r.owner-}}
                </a>
                <span class="time text-alt">{{r.lastupdate}}</span>
              </div>
              <div class="post-content">
                {{r.content|postHtml|safe}}
              </div>
              <div class="row">
                <ul class="post-actions">
                  <li><a href="#">值得一读</a></li>
                  <li><a href="#">感谢</a></li>
                  <li><a href="#">举报</a></li>
                </ul>
              </div>
              {% if r.comments %}
                <div class="mod-topic-comments">
                  {% for c in r.comments %}
                    <div class="comment">
                      <div class="r1">
                        <a class="owner" href="{{c.owner}}"
                           title="点击到 {{c.owner}} 的个人资料页面">
                          {{-c.owner-}}
                        </a>
                        <span class="time text-alt">{{r.lastupdate}}</span>
                      </div>
                      <div class="content row">
                        {{c.content|postHtml|safe}}
                        <div class="row">
                          <ul class="comment-actions">
                            <li><a href="#">回复</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <hr/>
          </div>
        {% endfor %}
      {% endif %}

      <div id="editor-reply">
        <div class="editarea" contenteditable>回复他
          吵死他，跟他打嘴炮
          嘻嘻嘻</div>
        <div class="btn btn-reverse submit">
          提交
        </div>
      </div>
      
    </div>

    <div class="aside">
      <div class="widgets">
        <div class="mod-topic-fromboard">
          来自
          <em>女孩子<small>Girls</small></em>
        </div>

        <div class="mod-topic-guess">
          <div class="mod-title">
            <h3>本版话题推荐...</h3>
          </div>
          {% for p in relative %}
            <div class="outer">
              <div class="inner">
                <img class="custom" src="{{url_for_avatar(p.owner)}}" title="{{p.title}}"/>
                <a class="text text-small" href="{{url_for('topic', tid=p.tid)}}" title="{{p.title}}">{{p.title}}</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>

{% endblock %}
